{% extends "NileadWebBundle::base.html.twig" %}

{# TITLE #}
{% block title %}Product Info{% endblock %}

{# HEAD #}
{% block head %}
    {{ parent() }}

    <script src="{{ asset('themes/shopper/js/pages/product-info.js') }}"></script>
{% endblock %}

{# BODY #}
{% block body %}
    <div class="wrapper">
        <div class="page">
            {% block header %}{% include 'NileadWebBundle:Frontend:Components/header.html.twig' %}{% endblock %}

            <div class="main-container col1-layout">
                <div class="main row clearfix">
                    {% block breadcrumbs %}{% include 'NileadWebBundle:Frontend:Components/breadcrumbs.html.twig' %}{% endblock %}

                    <div class="col-main">
                        <div class="product-category-title">{% block taxon %}{% endblock %}</div>
                        <div id="messages_product_view"></div>

                        <div class="product-view">
                            <div class="product-essential">
                                <form action="http://shopper.queldorei.com/index.php/checkout/cart/add/uenc/aHR0cDovL3Nob3BwZXIucXVlbGRvcmVpLmNvbS9pbmRleC5waHAvYm9keWNvbi1kcmVzcy1pbi1hbmltYWwtd2l0aC1jdXQtb3V0Lmh0bWw_X19fU0lEPVU,/product/177/" method="post" id="product_addtocart_form">
                                    <div class="no-display">
                                        <input type="hidden" name="product" value="177"/>
                                        <input type="hidden" name="related_product" id="related-products-field" value=""/>
                                    </div>

                                    {% block images %}{% endblock %}

                                    <div class="product-shop">
                                        {% block recommend %}{% include 'NileadWebBundle:Frontend:Components/recommend.html.twig' %}{% endblock %}

                                        {% block content %}{% endblock %}
                                    </div>
                                    <div class="clearer"></div>
                                </form>
                            </div>

                            {% block tabs %}{% endblock %}

                            {% block related %}{% include 'NileadWebBundle:Frontend:Components/related.html.twig' %}{% endblock %}
                        </div>
                    </div>
                </div>

                {% block footer %}{% include 'NileadWebBundle:Frontend:Components/footer.html.twig' %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}