{% extends "NileadWebBundle::base.html.twig" %}

{% block title %}Admin{% endblock %}

{% block content %}
    <header>
        {% block header %}

        {% endblock %}
    </header>

    <div class="main" role="main">
        {% block main %}

        {% endblock %}
    </div>

    <footer>
        {% block footer %}

        {% endblock %}
    </footer>
{% endblock %}