<div class="product-box">
    <a title="{{ product.getname }}">
        <img src="">

        <div class="info">
            <span class="title">{{ product.getName }}</span>
            <span class="price">{{ product.getMasterVariant.getPrice }}</span>
        </div>
    </a>
</div>