{% extends "NileadWebBundle:Frontend:layout.html.twig" %}

{% from "NileadWebBundle:Frontend:Macros/misc.html.twig" import pagination %}
{% from "NileadWebBundle:Frontend:Product/macros.html.twig" import list %}
{% from "NileadWebBundle:Frontend:Product/macros.html.twig" import grid %}

{% block content %}
    <div></div>
    {{ grid(data) }}
    {{ pagination(data) }}
{% endblock %}