{% from "NileadWebBundle:Frontend/Product:macros.html.twig" import grid %}


<div class="product-slider-container">
    <div class="clearfix title-container">
        <h2>Staff Pick</h2>
        <a href="#" class="jcarousel-prev-horizontal" id="shopper_carousel_prev1371097628"></a>
        <a href="#" class="jcarousel-next-horizontal" id="shopper_carousel_next1371097628"></a>
    </div>

    <ul id="sale_1371097628" class="products-grid jcarousel-skin-tango clearfix two_columns_3">
        {% for product in products %}
            {% include 'NileadWebBundle:Frontend/Product/Listing:_grid_item.html.twig' %}
        {% endfor %}
    </ul>
    <div class="clear"></div>
</div>