<div class="block block-bestsellers">
    <div class="block-title">
        <strong>
            <span>Best Sellers</span>
        </strong>
    </div>

    <div class="block-content">
        <ul>
            <li class="clearfix">
                <a href="bodycon-dress-in-animal-with-cut-out.html" title="Bodycon Dress in Animal with Cut Out" class="product-image">
                    <img src="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/56x56/9df78eab33525d08d6e5fb8d27136e95/b/i/big02_1.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/112x112/9df78eab33525d08d6e5fb8d27136e95/b/i/big02_1.jpg" width="56" height="56" alt="Bodycon Dress in Animal with Cut Out"/>
                </a>
                <div class="product-info">
                    <a class="product-name" href="bodycon-dress-in-animal-with-cut-out.html" title="Bodycon Dress in Animal with Cut Out">
                        Bodycon Dress in Animal with Cut Out
                    </a>
                    <div class="price-box">
                        <span class="regular-price" id="product-price-177">
                            <span class="price">$299.00</span>
                        </span>
                    </div>
                </div>
            </li>

            <li class="clearfix">
                <a href="river-island-chelsea-girl-leopard-shirt-dress.html" title="River Island Chelsea Girl Leopard Shirt Dress" class="product-image">
                    <img src="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/56x56/9df78eab33525d08d6e5fb8d27136e95/p/r/prod02_2_1.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/112x112/9df78eab33525d08d6e5fb8d27136e95/p/r/prod02_2_1.jpg" width="56" height="56" alt="River Island Chelsea Girl Leopard Shirt Dress"/>
                </a>
                <div class="product-info">
                    <a class="product-name" href="river-island-chelsea-girl-leopard-shirt-dress.html" title="River Island Chelsea Girl Leopard Shirt Dress">
                        River Island Chelsea Girl Leopard Shirt Dress
                    </a>
                    <div class="price-box">
                        <span class="regular-price" id="product-price-178">
                            <span class="price">$34.00</span>
                        </span>
                    </div>
                </div>
            </li>

            <li class="clearfix">
                <a href="dahlia-shift-dress-with-sequin-collar.html" title="Dahlia Shift Dress With Sequin Collar " class="product-image">
                    <img src="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/56x56/9df78eab33525d08d6e5fb8d27136e95/p/r/prod01_3.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/112x112/9df78eab33525d08d6e5fb8d27136e95/p/r/prod01_3.jpg" width="56" height="56" alt="Dahlia Shift Dress With Sequin Collar "/>
                </a>
                <div class="product-info">
                    <a class="product-name" href="dahlia-shift-dress-with-sequin-collar.html" title="Dahlia Shift Dress With Sequin Collar ">
                        Dahlia Shift Dress With Sequin Collar
                    </a>
                    <div class="price-box">
                        <span class="regular-price" id="product-price-179">
                            <span class="price">$79.00</span>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>