<div class="block block-list block-compare hidden-feature">
    <div class="block-title">
        <strong><span>Compare Products </span></strong>
    </div>
    <div class="block-content">
        <p class="empty">
            You have no items to compare.
        </p>
    </div>
</div>