<div class="block block-tags">
    <div class="block-title">
        <strong><span>Popular Tags</span></strong>
    </div>
    <div class="block-content">
        <ul class="tags-list">
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/23/" style="font-size:86.666666666667%;">Camera</a></li>
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/109/" style="font-size:86.666666666667%;">Hohoho</a></li>
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/27/" style="font-size:145%;">SEXY</a></li>
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/61/" style="font-size:110%;">Tag</a></li>
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/29/" style="font-size:145%;">Test</a></li>
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/17/" style="font-size:86.666666666667%;">bones</a></li>
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/12/" style="font-size:121.66666666667%;">cool</a></li>
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/184/" style="font-size:86.666666666667%;">cool t-shirt</a></li>
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/173/" style="font-size:86.666666666667%;">crap</a></li>
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/41/" style="font-size:86.666666666667%;">good</a></li>
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/16/" style="font-size:86.666666666667%;">green</a></li>
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/5/" style="font-size:86.666666666667%;">hip</a></li>
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/51/" style="font-size:75%;">laptop</a></li>
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/20/" style="font-size:75%;">mobile</a></li>
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/77/" style="font-size:75%;">notebook</a></li>
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/42/" style="font-size:98.333333333333%;">phone</a></li>
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/30/" style="font-size:98.333333333333%;">red</a></li>
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/100/" style="font-size:86.666666666667%;">teste</a></li>
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/28/" style="font-size:86.666666666667%;">tight</a></li>
            <li><a href="http://shopper.queldorei.com/index.php/tag/product/list/tagId/4/" style="font-size:86.666666666667%;">young</a></li>
        </ul>
        <div class="actions">
            <a href="http://shopper.queldorei.com/index.php/tag/list/">View All Tags</a>
        </div>
    </div>
</div>