.flag {
	display: inline-block !important;
	background-image: url(../images/flags.png) !important;
	background-repeat: no-repeat !important;
	vertical-align: baseline;
	width: 16px !important;
	height: 11px !important;
	margin-right: 5px;
}

.ad { background-position: 0 0; }
.ae { background-position: -17px 0; }
.af { background-position: -34px 0; }
.ag { background-position: -51px 0; }
.ai { background-position: -68px 0; }
.al { background-position: -85px 0; }
.am { background-position: -102px 0; }
.an { background-position: -119px 0; }
.ao { background-position: -136px 0; }
.ar { background-position: -153px 0; }
.as { background-position: -170px 0; }
.at { background-position: -187px 0; }
.au { background-position: -204px 0; }
.aw { background-position: -221px 0; }
.ax { background-position: -238px 0; }
.az { background-position: 0 -12px; }
.ba { background-position: -17px -12px; }
.bb { background-position: -34px -12px; }
.bd { background-position: -51px -12px; }
.be { background-position: -68px -12px; }
.bf { background-position: -85px -12px; }
.bg { background-position: -102px -12px; }
.bh { background-position: -119px -12px; }
.bi { background-position: -136px -12px; }
.bj { background-position: -153px -12px; }
.bm { background-position: -170px -12px; }
.bn { background-position: -187px -12px; }
.bo { background-position: -204px -12px; }
.br { background-position: -221px -12px; }
.bs { background-position: -238px -12px; }
.bt { background-position: 0 -24px; }
.bv { background-position: -17px -24px; }
.bw { background-position: -34px -24px; }
.by { background-position: -51px -24px; }
.bz { background-position: -68px -24px; }
.ca { background-position: -85px -24px; }
.cc { background-position: -102px -24px; }
.cd { background-position: -119px -24px; }
.cf { background-position: -136px -24px; }
.cg { background-position: -153px -24px; }
.ch { background-position: -170px -24px; }
.ci { background-position: -187px -24px; }
.ck { background-position: -204px -24px; }
.cl { background-position: -221px -24px; }
.cm { background-position: -238px -24px; }
.cn { background-position: 0 -36px; }
.co { background-position: -17px -36px; }
.cr { background-position: -34px -36px; }
.cu { background-position: -51px -36px; }
.cv { background-position: -68px -36px; }
.cx { background-position: -85px -36px; }
.cy { background-position: -102px -36px; }
.cz { background-position: -119px -36px; }
.de { background-position: -136px -36px; }
.dj { background-position: -153px -36px; }
.dk { background-position: -170px -36px; }
.dm { background-position: -187px -36px; }
.do { background-position: -204px -36px; }
.dz { background-position: -221px -36px; }
.ec { background-position: -238px -36px; }
.ee { background-position: 0 -48px; }
.eg { background-position: -17px -48px; }
.eh { background-position: -34px -48px; }
.er { background-position: -51px -48px; }
.es { background-position: -68px -48px; }
.et { background-position: -85px -48px; }
.fi { background-position: -102px -48px; }
.fj { background-position: -119px -48px; }
.fk { background-position: -136px -48px; }
.fm { background-position: -153px -48px; }
.fo { background-position: -170px -48px; }
.fr { background-position: -187px -48px; }
.ga { background-position: -204px -48px; }
.gb { background-position: -221px -48px; }
.gd { background-position: -238px -48px; }
.ge { background-position: 0 -60px; }
.gf { background-position: -17px -60px; }
.gh { background-position: -34px -60px; }
.gi { background-position: -51px -60px; }
.gl { background-position: -68px -60px; }
.gm { background-position: -85px -60px; }
.gn { background-position: -102px -60px; }
.gp { background-position: -119px -60px; }
.gq { background-position: -136px -60px; }
.gr { background-position: -153px -60px; }
.gs { background-position: -170px -60px; }
.gt { background-position: -187px -60px; }
.gu { background-position: -204px -60px; }
.gw { background-position: -221px -60px; }
.gy { background-position: -238px -60px; }
.hk { background-position: 0 -72px; }
.hm { background-position: -17px -72px; }
.hn { background-position: -34px -72px; }
.hr { background-position: -51px -72px; }
.ht { background-position: -68px -72px; }
.hu { background-position: -85px -72px; }
.id { background-position: -102px -72px; }
.ie { background-position: -119px -72px; }
.il { background-position: -136px -72px; }
.in { background-position: -153px -72px; }
.io { background-position: -170px -72px; }
.iq { background-position: -187px -72px; }
.ir { background-position: -204px -72px; }
.is { background-position: -221px -72px; }
.it { background-position: -238px -72px; }
.jm { background-position: 0 -84px; }
.jo { background-position: -17px -84px; }
.jp { background-position: -34px -84px; }
.ke { background-position: -51px -84px; }
.kg { background-position: -68px -84px; }
.kh { background-position: -85px -84px; }
.ki { background-position: -102px -84px; }
.km { background-position: -119px -84px; }
.kn { background-position: -136px -84px; }
.kp { background-position: -153px -84px; }
.kr { background-position: -170px -84px; }
.kw { background-position: -187px -84px; }
.ky { background-position: -204px -84px; }
.kz { background-position: -221px -84px; }
.la { background-position: -238px -84px; }
.lb { background-position: 0 -96px; }
.lc { background-position: -17px -96px; }
.li { background-position: -34px -96px; }
.lk { background-position: -51px -96px; }
.lr { background-position: -68px -96px; }
.ls { background-position: -85px -96px; }
.lt { background-position: -102px -96px; }
.lu { background-position: -119px -96px; }
.lv { background-position: -136px -96px; }
.ly { background-position: -153px -96px; }
.ma { background-position: -170px -96px; }
.mc { background-position: -187px -96px; }
.md { background-position: -204px -96px; }
.me { background-position: -221px -96px; }
.mg { background-position: -238px -96px; }
.mh { background-position: 0 -108px; }
.mk { background-position: -17px -108px; }
.ml { background-position: -34px -108px; }
.mm { background-position: -51px -108px; }
.mn { background-position: -68px -108px; }
.mo { background-position: -85px -108px; }
.mp { background-position: -102px -108px; }
.mq { background-position: -119px -108px; }
.mr { background-position: -136px -108px; }
.ms { background-position: -153px -108px; }
.mt { background-position: -170px -108px; }
.mu { background-position: -187px -108px; }
.mv { background-position: -204px -108px; }
.mw { background-position: -221px -108px; }
.mx { background-position: -238px -108px; }
.my { background-position: 0 -120px; }
.mz { background-position: -17px -120px; }
.na { background-position: -34px -120px; }
.nc { background-position: -51px -120px; }
.ne { background-position: -68px -120px; }
.nf { background-position: -85px -120px; }
.ng { background-position: -102px -120px; }
.ni { background-position: -119px -120px; }
.nl { background-position: -136px -120px; }
.no { background-position: -153px -120px; }
.np { background-position: -170px -120px; }
.nr { background-position: -187px -120px; }
.nu { background-position: -204px -120px; }
.nz { background-position: -221px -120px; }
.om { background-position: -238px -120px; }
.pa { background-position: 0 -132px; }
.pe { background-position: -17px -132px; }
.pf { background-position: -34px -132px; }
.pg { background-position: -51px -132px; }
.ph { background-position: -68px -132px; }
.pk { background-position: -85px -132px; }
.pl { background-position: -102px -132px; }
.pm { background-position: -119px -132px; }
.pn { background-position: -136px -132px; }
.pr { background-position: -153px -132px; }
.ps { background-position: -170px -132px; }
.pt { background-position: -187px -132px; }
.pw { background-position: -204px -132px; }
.py { background-position: -221px -132px; }
.qa { background-position: -238px -132px; }
.re { background-position: 0 -144px; }
.ro { background-position: -17px -144px; }
.rs { background-position: -34px -144px; }
.ru { background-position: -51px -144px; }
.rw { background-position: -68px -144px; }
.sa { background-position: -85px -144px; }
.sb { background-position: -102px -144px; }
.sc { background-position: -119px -144px; }
.sd { background-position: -136px -144px; }
.se { background-position: -153px -144px; }
.sg { background-position: -170px -144px; }
.sh { background-position: -187px -144px; }
.si { background-position: -204px -144px; }
.sj { background-position: -221px -144px; }
.sk { background-position: -238px -144px; }
.sl { background-position: 0 -156px; }
.sm { background-position: -17px -156px; }
.sn { background-position: -34px -156px; }
.so { background-position: -51px -156px; }
.sr { background-position: -68px -156px; }
.st { background-position: -85px -156px; }
.sv { background-position: -102px -156px; }
.sy { background-position: -119px -156px; }
.sz { background-position: -136px -156px; }
.tc { background-position: -153px -156px; }
.td { background-position: -170px -156px; }
.tf { background-position: -187px -156px; }
.tg { background-position: -204px -156px; }
.th { background-position: -221px -156px; }
.tj { background-position: -238px -156px; }
.tk { background-position: 0 -168px; }
.tl { background-position: -17px -168px; }
.tm { background-position: -34px -168px; }
.tn { background-position: -51px -168px; }
.to { background-position: -68px -168px; }
.tr { background-position: -85px -168px; }
.tt { background-position: -102px -168px; }
.tv { background-position: -119px -168px; }
.tw { background-position: -136px -168px; }
.tz { background-position: -153px -168px; }
.ua { background-position: -170px -168px; }
.ug { background-position: -187px -168px; }
.um { background-position: -204px -168px; }
.us { background-position: -221px -168px; }
.uy { background-position: -238px -168px; }
.uz { background-position: 0 -180px; }
.va { background-position: -17px -180px; }
.vc { background-position: -34px -180px; }
.ve { background-position: -51px -180px; }
.vg { background-position: -68px -180px; }
.vi { background-position: -85px -180px; }
.vn { background-position: -102px -180px; }
.vu { background-position: -119px -180px; }
.wf { background-position: -136px -180px; }
.ws { background-position: -153px -180px; }
.ye { background-position: -170px -180px; }
.yt { background-position: -187px -180px; }
.za { background-position: -204px -180px; }
.zm { background-position: -221px -180px; }
.zw { background-position: -238px -180px; }