{% from 'NileadWebBundle:Frontend/Macros:main.html.twig' import menuItem %}
<div class="col-left sidebar">
    <div class="block block-account">
        <div class="block-title">
            <strong><span>Account</span></strong>
        </div>
        <div class="block-content">
            <ul>
                {{ menuItem('Account Dashboard', 'nilead.frontend.account.index',{}) }}
                {{ menuItem('Account Information', 'nilead.frontend.account.info',{}) }}
                {{ menuItem('Address Book', 'nilead.frontend.account.address_book',{}) }}
                {{ menuItem('My Orders', 'nilead.frontend.account.order_history',{}) }}

                <li><a href="http://shopper.queldorei.com/index.php/sales/recurring_profile/">Recurring Profiles</a></li>
                <li><a href="http://shopper.queldorei.com/index.php/review/customer/">My Product Reviews</a></li>
                <li><a href="http://shopper.queldorei.com/index.php/tag/customer/">My Tags</a></li>
                <li><a href="http://shopper.queldorei.com/index.php/wishlist/">Wishlist</a></li>
                <li><a href="http://shopper.queldorei.com/index.php/oauth/customer_token/">My Applications</a></li>
                <li><a href="http://shopper.queldorei.com/index.php/newsletter/manage/">Newsletter Subscriptions</a></li>
                <li class="last"><a href="http://shopper.queldorei.com/index.php/downloadable/customer/products/">My Downloadable Products</a></li>
            </ul>
        </div>
    </div>
    <div class="block block-slideshow">
        <div class="block-content">
            <div class="block-slider">
                <ul class="slides">
                    <li><strong>Ajax shop by price slider</strong>

                        <p>You can now adjust price range with a fancy slider without refreshing a page!</p>
                        <a href="http://shopper.queldorei.com/index.php/women.html"><img
                                src="http://shopper.queldorei.com/media/wysiwyg/bs02.jpg" width="230" height="235"
                                alt="" class="retina"/></a>
                        <button class="button button_white"
                                onclick="window.location='http://shopper.queldorei.com/index.php/women.html/'">
                            <span><span>check it out</span></span></button>
                    </li>
                    <li><a href="http://queldorei.com"><img
                            src="http://shopper.queldorei.com/media/wysiwyg/banner_02.jpg" alt="" width="230"
                            height="418" class="retina"/></a>
                        <button class="button button_white" onclick="window.location='http://queldorei.com'">
                            <span><span>buy now</span></span></button>
                    </li>
                    <li><strong>Independent color settings for categories</strong>

                        <p>Make every category of your webstore look special by setting different color schemes.</p>
                        <a href="http://shopper.queldorei.com/index.php/men.html"><img
                                src="http://shopper.queldorei.com/media/wysiwyg/banner_03.jpg" width="230" height="235"
                                alt="" class="retina"/></a>
                        <button class="button button_white"
                                onclick="window.location='http://shopper.queldorei.com/index.php/men.html/'">
                            <span><span>show me</span></span></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="block block-list block-viewed">
        <div class="block-title">
            <strong><span>Recently Viewed Products</span></strong>
        </div>
        <div class="block-content">
            <ul>
                <li class="clearfix">
                    <a href="http://shopper.queldorei.com/index.php/midi-dress-with-belt.html"
                       title="Midi Dress With Belt" class="product-image">
                        <img
                                src="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/56x56/9df78eab33525d08d6e5fb8d27136e95/p/r/prod05.jpg"
                                data-srcX2="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/112x112/9df78eab33525d08d6e5fb8d27136e95/p/r/prod05.jpg"
                                width="56" height="56" alt="Midi Dress With Belt"/>
                    </a>

                    <div class="product-info">
                        <a class="product-name" href="http://shopper.queldorei.com/index.php/midi-dress-with-belt.html"
                           title="Midi Dress With Belt">Midi Dress With Belt</a>


                        <div class="price-box">
                                                            <span class="regular-price" id="product-price-171">
                                            <span
                                                    class="price">$212.00</span>                                    </span>

                        </div>

                    </div>
                </li>
                <li class="clearfix">
                    <a href="http://shopper.queldorei.com/index.php/jumper-dress-in-baroque.html"
                       title="Jumper Dress In Baroque " class="product-image">
                        <img
                                src="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/56x56/9df78eab33525d08d6e5fb8d27136e95/p/r/pro04_1.jpg"
                                data-srcX2="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/112x112/9df78eab33525d08d6e5fb8d27136e95/p/r/pro04_1.jpg"
                                width="56" height="56" alt="Jumper Dress In Baroque "/>
                    </a>

                    <div class="product-info">
                        <a class="product-name"
                           href="http://shopper.queldorei.com/index.php/jumper-dress-in-baroque.html"
                           title="Jumper Dress In Baroque ">Jumper Dress In Baroque </a>


                        <div class="price-box">

                            <p class="old-price">
                                <span class="price-label"></span>
                <span class="price" id="old-price-173">
                    $423.00                </span>
                            </p>

                            <p class="special-price">
                                <span class="price-label"></span>
                <span class="price" id="product-price-173">
                    $399.00                </span>
                            </p>


                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="block block-list block-compare">
        <div class="block-title">
            <strong><span>Compare Products                    </span></strong>
        </div>
        <div class="block-content">
            <p class="empty">You have no items to compare.</p>
        </div>
    </div>
    <div class="block block-poll">
        <div class="block-title">
            <strong><span>Community Poll</span></strong>
        </div>
        <form id="pollForm" action="http://shopper.queldorei.com/index.php/poll/vote/add/poll_id/2/" method="post" onsubmit="return validatePollAnswerIsSelected();">
            <div class="block-content">
                <p class="block-subtitle">What is your favorite Magento feature?</p>
                <ul id="poll-answers">
                    <li>
                        <input type="radio" name="vote" class="radio poll_vote" id="vote_5" value="5"/>
                        <span class="label"><label for="vote_5">Layered Navigation</label></span>
                    </li>
                    <li>
                        <input type="radio" name="vote" class="radio poll_vote" id="vote_6" value="6"/>
                        <span class="label"><label for="vote_6">Price Rules</label></span>
                    </li>
                    <li>
                        <input type="radio" name="vote" class="radio poll_vote" id="vote_7" value="7"/>
                        <span class="label"><label for="vote_7">Category Management</label></span>
                    </li>
                    <li>
                        <input type="radio" name="vote" class="radio poll_vote" id="vote_8" value="8"/>
                        <span class="label"><label for="vote_8">Compare Products</label></span>
                    </li>
                </ul>
                <div class="actions">
                    <button type="submit" title="Vote" class="button"><span><span>Vote</span></span></button>
                </div>
            </div>
        </form>
    </div>
</div>