{% extends "NileadWebBundle:Frontend:layout.html.twig" %}

{% block content %}
    <h2>Order ID: {{ order.id }}</h2>

    <div style="padding: 30px; border: 1px solid #ccc; margin: 50px">
        <code>{{ response.message|trim }}</code>
    </div>
{% endblock %}