<div class="breadcrumbs">
	<ul>
		<li class="home">
			<a href="http://shopper.queldorei.com/index.php/" title="Go to Home Page">Home</a>
			<span></span>
		</li>

		<li class="product">
			<strong>Bodycon Dress in Animal with Cut Out</strong>
		</li>
	</ul>
</div>