<div class="footer-container">
    <div class="footer-banners">
        <div class="row clearfix">
            <div class="grid_6">
                <a title="free shipping on orders over $100" href="//queldorei.com/"><img src="http://shopper.queldorei.com/media/wysiwyg/footer_banner_1.png" width="570" height="56" class="retina" alt=""/></a>
            </div>
            <div class="grid_6">
                <a title="call us! toll free 8-800-123-1234" href="//queldorei.com/"><img src="http://shopper.queldorei.com/media/wysiwyg/footer_banner_2.png" width="570" height="56" class="retina" alt=""/></a>
            </div>
        </div>
    </div>

    <div class="footer-info">
        <div class="row clearfix facebook">
            <div class="grid_3">
                <h4>Facebook</h4>
                <div class="block-content">
                    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fqueldoreithemes&amp;width=270&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color=%23F4F4F2&amp;header=false" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                </div>
            </div>

            <div class="grid_3">
                <h4>From Twitter</h4>
                <div class="block-content">
                    <div class="twitterWidget" data-user="queldoreithemes">
                        <div class="twitterContent">
                            <ul class="twitterList">
                                <li>Follow us on twitter</li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <script type="text/javascript">
                    var el = {
                            widget              : jQuery('.twitterWidget'),
                            twitterList         : jQuery('.twitterWidget').find(".twitterList")
                        },
                        utils   = {
                            username        : el.widget.data("user"),
                            tweetNum        : parseInt(el.widget.data("num")) || 2,
                            currentIndex    : 0,
                            callback        : function(){},
                            isReady         : false,
                            height          : 0,
                            text_specify    : "You need to specify a username",
                            text_error      : "There was an error connecting to your Twitter account",
                            text_follow     : "Follow us",
                            text_on_twitter : "on Twitter"
                        }
                    getTweets(el, utils);
                </script>
            </div>

            <div class="grid_3 information">
                <h4>Information</h4>
                <div class="block-content">
                    <ul>
                        <li>Veritatis et quasi architecto</li>
                        <li>Beatae vitae dicta sunt explicabo</li>
                        <li>Nemo enim ipsam voluptatem quia</li>
                        <li>Voluptas sit aspernatur</li>
                        <li>Aut odit aut , sed quia consequunt</li>
                        <li>Umagni dolores eos qui ratione</li>
                        <li>Voluptatem sequi nesciunt.</li>
                    </ul>
                </div>
            </div>

            <div class="grid_3">
                <h4>Contacts</h4>
                <div class="block-content">
                    <p>Lingeries Store</p>
                    <p>34 New Clity 5655, Excel Tower</p>
                    <p>OPG Rpad, 4538FH</p>
                    <hr/>
                    <p>+1 800 123 1234</p>
                    <hr/>
                    <p><a href="mail@lipsum.com">mail@lipsum.com</a></p>
                    <ul class="social">
                        <li><a class="twitter" href="http://twitter.com/queldorei" target="social"><span>Twitter</span></a></li>
                        <li><a class="facebook" href="http://facebook.com/queldorei" target="social"><span>Facebook</span></a></li>
                        <li><a class="email" href="mailto:mail@lipsum.com"><span>Email</span></a></li>
                        <li><a class="google" href="http://plus.google.com/u/0/111109476451145065018" target="social"><span>Google</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer class="row clearfix">
        <div class="grid_6">
            <address>Shopper &copy; 2012 <a href="http://queldorei.com/">Premium Magento Themes</a> by Queldorei</address>
        </div>

        <div class="grid_6">
            <ul class="links">
                <li><a href="http://shopper.queldorei.com/index.php/" title="About Us">About Us</a></li>
                <li class="separator"></li>
                <li><a href="http://shopper.queldorei.com/index.php/" title="Delivery & Returns">Delivery & Returns</a></li>
                <li class="separator"></li>
                <li><a href="http://shopper.queldorei.com/index.php/" title="Terms & Conditions">Terms & Conditions</a></li>
                <li class="separator"></li>
                <li><a href="http://shopper.queldorei.com/index.php/contacts/" title="Contact Us">Contact Us</a></li>
            </ul>
        </div>
    </footer>
</div>