
<div class="product-additional">
	<div class="box-collateral box-up-sell">
		<h2>We recommend</h2>
		<a href="#" class="jcarousel-prev-horizontal" id="shopper_upsell_prev"></a>
		<a href="#" class="jcarousel-next-horizontal" id="shopper_upsell_next"></a>
		<div class="clearer">
		</div>
		<ul id="upsell-products-list" class="jcarousel-skin-tango small-list">
			<li>
			<ul>
				<li class="item">
				<a class="product-image" href="http://shopper.queldorei.com/index.php/a-wear-peplum-40-s-dress.html" title="A Wear Peplum 40's Dress">
				<img src="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/112x112/9df78eab33525d08d6e5fb8d27136e95/p/r/prod01.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/224x224/9df78eab33525d08d6e5fb8d27136e95/p/r/prod01.jpg" width="112" height="112" alt="A Wear Peplum 40's Dress"/>
				</a>
				<a class="product-name" href="http://shopper.queldorei.com/index.php/a-wear-peplum-40-s-dress.html">A Wear Peplum 40's Dress</a>
				<input type="checkbox" class="checkbox upsell-checkbox" id="upsell-checkbox167" name="upsell_products[]" value="167"/>
				<div class="price-box">
					<span class="regular-price" id="product-price-167-upsell">
					<span class="price">$55.00</span></span>
				</div>
				<div class="clear">
				</div>
				</li>
				<li class="item">
				<a class="product-image" href="http://shopper.queldorei.com/index.php/selected-mari-dress.html" title="Selected Mari Dress">
				<img src="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/112x112/9df78eab33525d08d6e5fb8d27136e95/p/r/prod02_2.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/224x224/9df78eab33525d08d6e5fb8d27136e95/p/r/prod02_2.jpg" width="112" height="112" alt="Selected Mari Dress"/>
				</a>
				<a class="product-name" href="http://shopper.queldorei.com/index.php/selected-mari-dress.html">Selected Mari Dress</a>
				<input type="checkbox" class="checkbox upsell-checkbox" id="upsell-checkbox169" name="upsell_products[]" value="169"/>
				<div class="price-box">
					<span class="regular-price" id="product-price-169-upsell">
					<span class="price">$43.00</span></span>
				</div>
				<div class="clear">
				</div>
				</li>
				<li class="item">
				<a class="product-image" href="http://shopper.queldorei.com/index.php/shirt-dress-with-lace-top.html" title="Shirt Dress With Lace Top">
				<img src="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/112x112/9df78eab33525d08d6e5fb8d27136e95/p/r/prod03_2.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/224x224/9df78eab33525d08d6e5fb8d27136e95/p/r/prod03_2.jpg" width="112" height="112" alt="Shirt Dress With Lace Top"/>
				</a>
				<a class="product-name" href="http://shopper.queldorei.com/index.php/shirt-dress-with-lace-top.html">Shirt Dress With Lace Top</a>
				<input type="checkbox" class="checkbox upsell-checkbox" id="upsell-checkbox170" name="upsell_products[]" value="170"/>
				<div class="price-box">
					<span class="regular-price" id="product-price-170-upsell">
					<span class="price">$69.00</span></span>
				</div>
				<div class="clear">
				</div>
				</li>
				<li class="item">
				<a class="product-image" href="http://shopper.queldorei.com/index.php/midi-dress-with-belt.html" title="Midi Dress With Belt">
				<img src="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/112x112/9df78eab33525d08d6e5fb8d27136e95/p/r/prod05.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/224x224/9df78eab33525d08d6e5fb8d27136e95/p/r/prod05.jpg" width="112" height="112" alt="Midi Dress With Belt"/>
				</a>
				<a class="product-name" href="http://shopper.queldorei.com/index.php/midi-dress-with-belt.html">Midi Dress With Belt</a>
				<input type="checkbox" class="checkbox upsell-checkbox" id="upsell-checkbox171" name="upsell_products[]" value="171"/>
				<div class="price-box">
					<span class="regular-price" id="product-price-171-upsell">
					<span class="price">$212.00</span></span>
				</div>
				<div class="clear">
				</div>
				</li>
				<li class="item">
				<a class="product-image" href="http://shopper.queldorei.com/index.php/skater-dress-in-leaf-print.html" title="Skater Dress In Leaf Print">
				<img src="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/112x112/9df78eab33525d08d6e5fb8d27136e95/p/r/prod06.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/224x224/9df78eab33525d08d6e5fb8d27136e95/p/r/prod06.jpg" width="112" height="112" alt="Skater Dress In Leaf Print"/>
				</a>
				<a class="product-name" href="http://shopper.queldorei.com/index.php/skater-dress-in-leaf-print.html">Skater Dress In Leaf Print</a>
				<input type="checkbox" class="checkbox upsell-checkbox" id="upsell-checkbox172" name="upsell_products[]" value="172"/>
				<div class="price-box">
					<span class="regular-price" id="product-price-172-upsell">
					<span class="price">$234.00</span></span>
				</div>
				<div class="clear">
				</div>
				</li>
				<li class="item">
				<a class="product-image" href="http://shopper.queldorei.com/index.php/jumper-dress-in-baroque.html" title="Jumper Dress In Baroque ">
				<img src="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/112x112/9df78eab33525d08d6e5fb8d27136e95/p/r/pro04_1.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/224x224/9df78eab33525d08d6e5fb8d27136e95/p/r/pro04_1.jpg" width="112" height="112" alt="Jumper Dress In Baroque "/>
				</a>
				<a class="product-name" href="http://shopper.queldorei.com/index.php/jumper-dress-in-baroque.html">Jumper Dress In Baroque </a>
				<input type="checkbox" class="checkbox upsell-checkbox" id="upsell-checkbox173" name="upsell_products[]" value="173"/>
				<div class="price-box">
					<p class="old-price">
						<span class="price-label"></span>
						<span class="price" id="old-price-173-upsell">
						$423.00 </span>
					</p>
					<p class="special-price">
						<span class="price-label"></span>
						<span class="price" id="product-price-173-upsell">
						$399.00 </span>
					</p>
				</div>
				<div class="clear">
				</div>
				</li>
			</ul>
			</li>
			<li>
			<ul>
				<li class="item">
				<a class="product-image" href="http://shopper.queldorei.com/index.php/lipsy-bold-floral-peplum-dress.html" title="Lipsy Bold Floral Peplum Dress">
				<img src="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/112x112/9df78eab33525d08d6e5fb8d27136e95/b/i/big01_1.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/224x224/9df78eab33525d08d6e5fb8d27136e95/b/i/big01_1.jpg" width="112" height="112" alt="Lipsy Bold Floral Peplum Dress"/>
				</a>
				<a class="product-name" href="http://shopper.queldorei.com/index.php/lipsy-bold-floral-peplum-dress.html">Lipsy Bold Floral Peplum Dress</a>
				<input type="checkbox" class="checkbox upsell-checkbox" id="upsell-checkbox174" name="upsell_products[]" value="174"/>
				<div class="price-box">
					<span class="regular-price" id="product-price-174-upsell">
					<span class="price">$341.00</span></span>
				</div>
				<div class="clear">
				</div>
				</li>
				<li class="item">
				<a class="product-image" href="http://shopper.queldorei.com/index.php/wrap-dress-with-belt.html" title="Wrap Dress With Belt">
				<img src="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/112x112/9df78eab33525d08d6e5fb8d27136e95/b/i/big05_1.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/224x224/9df78eab33525d08d6e5fb8d27136e95/b/i/big05_1.jpg" width="112" height="112" alt="Wrap Dress With Belt"/>
				</a>
				<a class="product-name" href="http://shopper.queldorei.com/index.php/wrap-dress-with-belt.html">Wrap Dress With Belt</a>
				<input type="checkbox" class="checkbox upsell-checkbox" id="upsell-checkbox175" name="upsell_products[]" value="175"/>
				<div class="price-box">
					<span class="regular-price" id="product-price-175-upsell">
					<span class="price">$58.00</span></span>
				</div>
				<div class="clear">
				</div>
				</li>
				<li class="item">
				<a class="product-image" href="http://shopper.queldorei.com/index.php/motel-strappy-back-mini-dress.html" title="Motel Strappy Back Mini Dress">
				<img src="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/112x112/9df78eab33525d08d6e5fb8d27136e95/b/i/big06_1.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/224x224/9df78eab33525d08d6e5fb8d27136e95/b/i/big06_1.jpg" width="112" height="112" alt="Motel Strappy Back Mini Dress"/>
				</a>
				<a class="product-name" href="http://shopper.queldorei.com/index.php/motel-strappy-back-mini-dress.html">Motel Strappy Back Mini Dress</a>
				<input type="checkbox" class="checkbox upsell-checkbox" id="upsell-checkbox176" name="upsell_products[]" value="176"/>
				<div class="price-box">
					<span class="regular-price" id="product-price-176-upsell">
					<span class="price">$355.00</span></span>
				</div>
				<div class="clear">
				</div>
				</li>
				<li class="item">
				<a class="product-image" href="http://shopper.queldorei.com/index.php/river-island-chelsea-girl-leopard-shirt-dress.html" title="River Island Chelsea Girl Leopard Shirt Dress">
				<img src="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/112x112/9df78eab33525d08d6e5fb8d27136e95/p/r/prod02_2_1.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/224x224/9df78eab33525d08d6e5fb8d27136e95/p/r/prod02_2_1.jpg" width="112" height="112" alt="River Island Chelsea Girl Leopard Shirt Dress"/>
				</a>
				<a class="product-name" href="http://shopper.queldorei.com/index.php/river-island-chelsea-girl-leopard-shirt-dress.html">River Island Chelsea Girl Leopard Shirt Dress</a>
				<input type="checkbox" class="checkbox upsell-checkbox" id="upsell-checkbox178" name="upsell_products[]" value="178"/>
				<div class="price-box">
					<span class="regular-price" id="product-price-178-upsell">
					<span class="price">$34.00</span></span>
				</div>
				<div class="clear">
				</div>
				</li>
				<li class="item">
				<a class="product-image" href="http://shopper.queldorei.com/index.php/dahlia-shift-dress-with-sequin-collar.html" title="Dahlia Shift Dress With Sequin Collar ">
				<img src="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/112x112/9df78eab33525d08d6e5fb8d27136e95/p/r/prod01_3.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/thumbnail/224x224/9df78eab33525d08d6e5fb8d27136e95/p/r/prod01_3.jpg" width="112" height="112" alt="Dahlia Shift Dress With Sequin Collar "/>
				</a>
				<a class="product-name" href="http://shopper.queldorei.com/index.php/dahlia-shift-dress-with-sequin-collar.html">Dahlia Shift Dress With Sequin Collar </a>
				<input type="checkbox" class="checkbox upsell-checkbox" id="upsell-checkbox179" name="upsell_products[]" value="179"/>
				<div class="price-box">
					<span class="regular-price" id="product-price-179-upsell">
					<span class="price">$79.00</span></span>
				</div>
				<div class="clear">
				</div>
				</li>
			</ul>
			</li>
		</ul>
		<div class="clear">
		</div>
	</div>
	<script type="text/javascript">
//<![CDATA[
jQuery(document).ready(function($) {
    function upsell_initCallback(carousel) {
        jQuery('#shopper_upsell_next').bind('click', function() {
            carousel.next();
            return false;
        });
        jQuery('#shopper_upsell_prev').bind('click', function() {
            carousel.prev();
            return false;
        });
        if (typeof $('#upsell-products-list').swipe !== 'undefined'){
            $('#upsell-products-list').swipe({
                swipeLeft: function() { carousel.next(); },
                swipeRight: function() { carousel.prev(); },
                swipeMoving: function() {}
            });
        }
    };
    $('#upsell-products-list').jcarousel({
        scroll: 1,
        initCallback: upsell_initCallback,
        buttonNextHTML: null,
        buttonPrevHTML: null
    });
    //line up carousel items
    $(window).load(function(){
        var height = 0;
        $('li.item', '#upsell-products-list').each(function(i,v){
            $(this).css('height', 'auto');
            if ( $(this).actual('height') > height ) {
                height = $(this).actual('height');
            }
        });
        $('li.item', '#upsell-products-list').height(height);
    });
});
//]]>
	</script>
</div>