<!-- RELATED -->
<div class="slider-container">
	<div class="clearfix">
		<h3>Related Products</h3>
		<a href="#" class="jcarousel-prev-horizontal" id="shopper_carousel_prev1368514058"></a>
		<a href="#" class="jcarousel-next-horizontal" id="shopper_carousel_next1368514058"></a>
	</div>
	<ul id="related-products-list" class="jcarousel-skin-tango clearfix">
		<li class="item clearfix">
		<a href="http://shopper.queldorei.com/index.php/shirt-dress-with-lace-top.html" title="Shirt Dress With Lace Top" class="product-image">
		<img src="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/252x252/9df78eab33525d08d6e5fb8d27136e95/p/r/prod03_2.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/504x504/9df78eab33525d08d6e5fb8d27136e95/p/r/prod03_2.jpg" width="252" height="252" alt="Shirt Dress With Lace Top"/>
		</a>
		<div class="button-container">
			<p>
				<button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://shopper.queldorei.com/index.php/checkout/cart/add/uenc/aHR0cDovL3Nob3BwZXIucXVlbGRvcmVpLmNvbS9pbmRleC5waHAvYm9keWNvbi1kcmVzcy1pbi1hbmltYWwtd2l0aC1jdXQtb3V0Lmh0bWw,/product/170/')"><span><span>Add to Cart</span></span></button>
			</p>
		</div>
		<a class="product-name" href="http://shopper.queldorei.com/index.php/shirt-dress-with-lace-top.html" title="Shirt Dress With Lace Top">Shirt Dress With Lace Top</a>
		<input type="checkbox" class="checkbox related-checkbox" id="related-checkbox170" name="related_products[]" value="170"/>
		<div class="price-box">
			<span class="regular-price" id="product-price-170">
			<span class="price">$69.00</span></span>
		</div>
		</li>
		<li class="item clearfix">
		<a href="http://shopper.queldorei.com/index.php/midi-dress-with-belt.html" title="Midi Dress With Belt" class="product-image">
		<img src="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/252x252/9df78eab33525d08d6e5fb8d27136e95/p/r/prod05.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/504x504/9df78eab33525d08d6e5fb8d27136e95/p/r/prod05.jpg" width="252" height="252" alt="Midi Dress With Belt"/>
		</a>
		<div class="button-container">
			<p>
				<button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://shopper.queldorei.com/index.php/checkout/cart/add/uenc/aHR0cDovL3Nob3BwZXIucXVlbGRvcmVpLmNvbS9pbmRleC5waHAvYm9keWNvbi1kcmVzcy1pbi1hbmltYWwtd2l0aC1jdXQtb3V0Lmh0bWw,/product/171/')"><span><span>Add to Cart</span></span></button>
			</p>
		</div>
		<a class="product-name" href="http://shopper.queldorei.com/index.php/midi-dress-with-belt.html" title="Midi Dress With Belt">Midi Dress With Belt</a>
		<input type="checkbox" class="checkbox related-checkbox" id="related-checkbox171" name="related_products[]" value="171"/>
		<div class="price-box">
			<span class="regular-price" id="product-price-171">
			<span class="price">$212.00</span></span>
		</div>
		</li>
		<li class="item clearfix">
		<a href="http://shopper.queldorei.com/index.php/skater-dress-in-leaf-print.html" title="Skater Dress In Leaf Print" class="product-image">
		<div class="new-label new-top-right">
		</div>
		<img src="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/252x252/9df78eab33525d08d6e5fb8d27136e95/p/r/prod06.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/504x504/9df78eab33525d08d6e5fb8d27136e95/p/r/prod06.jpg" width="252" height="252" alt="Skater Dress In Leaf Print"/>
		</a>
		<div class="button-container">
			<p>
				<button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://shopper.queldorei.com/index.php/checkout/cart/add/uenc/aHR0cDovL3Nob3BwZXIucXVlbGRvcmVpLmNvbS9pbmRleC5waHAvYm9keWNvbi1kcmVzcy1pbi1hbmltYWwtd2l0aC1jdXQtb3V0Lmh0bWw,/product/172/')"><span><span>Add to Cart</span></span></button>
			</p>
		</div>
		<a class="product-name" href="http://shopper.queldorei.com/index.php/skater-dress-in-leaf-print.html" title="Skater Dress In Leaf Print">Skater Dress In Leaf Print</a>
		<input type="checkbox" class="checkbox related-checkbox" id="related-checkbox172" name="related_products[]" value="172"/>
		<div class="price-box">
			<span class="regular-price" id="product-price-172">
			<span class="price">$234.00</span></span>
		</div>
		</li>
		<li class="item clearfix">
		<a href="http://shopper.queldorei.com/index.php/jumper-dress-in-baroque.html" title="Jumper Dress In Baroque " class="product-image">
		<div class="sale-label sale-top-left">
		</div>
		<img src="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/252x252/9df78eab33525d08d6e5fb8d27136e95/p/r/pro04_1.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/504x504/9df78eab33525d08d6e5fb8d27136e95/p/r/pro04_1.jpg" width="252" height="252" alt="Jumper Dress In Baroque "/>
		</a>
		<div class="button-container">
			<p>
				<button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://shopper.queldorei.com/index.php/checkout/cart/add/uenc/aHR0cDovL3Nob3BwZXIucXVlbGRvcmVpLmNvbS9pbmRleC5waHAvYm9keWNvbi1kcmVzcy1pbi1hbmltYWwtd2l0aC1jdXQtb3V0Lmh0bWw,/product/173/')"><span><span>Add to Cart</span></span></button>
			</p>
		</div>
		<a class="product-name" href="http://shopper.queldorei.com/index.php/jumper-dress-in-baroque.html" title="Jumper Dress In Baroque ">Jumper Dress In Baroque </a>
		<input type="checkbox" class="checkbox related-checkbox" id="related-checkbox173" name="related_products[]" value="173"/>
		<div class="price-box">
			<p class="old-price">
				<span class="price-label"></span>
				<span class="price" id="old-price-173">
				$423.00 </span>
			</p>
			<p class="special-price">
				<span class="price-label"></span>
				<span class="price" id="product-price-173">
				$399.00 </span>
			</p>
		</div>
		</li>
		<li class="item clearfix">
		<a href="http://shopper.queldorei.com/index.php/lipsy-bold-floral-peplum-dress.html" title="Lipsy Bold Floral Peplum Dress" class="product-image">
		<img src="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/252x252/9df78eab33525d08d6e5fb8d27136e95/b/i/big01_1.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/504x504/9df78eab33525d08d6e5fb8d27136e95/b/i/big01_1.jpg" width="252" height="252" alt="Lipsy Bold Floral Peplum Dress"/>
		</a>
		<div class="button-container">
			<p>
				<button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://shopper.queldorei.com/index.php/checkout/cart/add/uenc/aHR0cDovL3Nob3BwZXIucXVlbGRvcmVpLmNvbS9pbmRleC5waHAvYm9keWNvbi1kcmVzcy1pbi1hbmltYWwtd2l0aC1jdXQtb3V0Lmh0bWw,/product/174/')"><span><span>Add to Cart</span></span></button>
			</p>
		</div>
		<a class="product-name" href="http://shopper.queldorei.com/index.php/lipsy-bold-floral-peplum-dress.html" title="Lipsy Bold Floral Peplum Dress">Lipsy Bold Floral Peplum Dress</a>
		<input type="checkbox" class="checkbox related-checkbox" id="related-checkbox174" name="related_products[]" value="174"/>
		<div class="price-box">
			<span class="regular-price" id="product-price-174">
			<span class="price">$341.00</span></span>
		</div>
		</li>
		<li class="item clearfix">
		<a href="http://shopper.queldorei.com/index.php/wrap-dress-with-belt.html" title="Wrap Dress With Belt" class="product-image">
		<div class="new-label new-top-right">
		</div>
		<img src="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/252x252/9df78eab33525d08d6e5fb8d27136e95/b/i/big05_1.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/504x504/9df78eab33525d08d6e5fb8d27136e95/b/i/big05_1.jpg" width="252" height="252" alt="Wrap Dress With Belt"/>
		</a>
		<div class="button-container">
			<p>
				<button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://shopper.queldorei.com/index.php/checkout/cart/add/uenc/aHR0cDovL3Nob3BwZXIucXVlbGRvcmVpLmNvbS9pbmRleC5waHAvYm9keWNvbi1kcmVzcy1pbi1hbmltYWwtd2l0aC1jdXQtb3V0Lmh0bWw,/product/175/')"><span><span>Add to Cart</span></span></button>
			</p>
		</div>
		<a class="product-name" href="http://shopper.queldorei.com/index.php/wrap-dress-with-belt.html" title="Wrap Dress With Belt">Wrap Dress With Belt</a>
		<input type="checkbox" class="checkbox related-checkbox" id="related-checkbox175" name="related_products[]" value="175"/>
		<div class="price-box">
			<span class="regular-price" id="product-price-175">
			<span class="price">$58.00</span></span>
		</div>
		</li>
		<li class="item clearfix">
		<a href="http://shopper.queldorei.com/index.php/motel-strappy-back-mini-dress.html" title="Motel Strappy Back Mini Dress" class="product-image">
		<div class="new-label new-top-right">
		</div>
		<img src="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/252x252/9df78eab33525d08d6e5fb8d27136e95/b/i/big06_1.jpg" data-srcx2="http://shopper.queldorei.com/media/catalog/product/cache/1/small_image/504x504/9df78eab33525d08d6e5fb8d27136e95/b/i/big06_1.jpg" width="252" height="252" alt="Motel Strappy Back Mini Dress"/>
		</a>
		<div class="button-container">
			<p>
				<button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('http://shopper.queldorei.com/index.php/checkout/cart/add/uenc/aHR0cDovL3Nob3BwZXIucXVlbGRvcmVpLmNvbS9pbmRleC5waHAvYm9keWNvbi1kcmVzcy1pbi1hbmltYWwtd2l0aC1jdXQtb3V0Lmh0bWw,/product/176/')"><span><span>Add to Cart</span></span></button>
			</p>
		</div>
		<a class="product-name" href="http://shopper.queldorei.com/index.php/motel-strappy-back-mini-dress.html" title="Motel Strappy Back Mini Dress">Motel Strappy Back Mini Dress</a>
		<input type="checkbox" class="checkbox related-checkbox" id="related-checkbox176" name="related_products[]" value="176"/>
		<div class="price-box">
			<span class="regular-price" id="product-price-176">
			<span class="price">$355.00</span></span>
		</div>
		</li>
	</ul>
	<div class="clear">
	</div>
</div>
<script type="text/javascript">
//<![CDATA[
    jQuery(document).ready(function($) {
        function mycarousel_initCallback(carousel)
        {
            $('#shopper_carousel_next1368514058').bind('click', function() {
                carousel.next();
                return false;
            });
            $('#shopper_carousel_prev1368514058').bind('click', function() {
                carousel.prev();
                return false;
            });
            if (typeof $('.slider-container').swipe !== 'undefined'){
                $('.slider-container').swipe({
                    swipeLeft: function() { carousel.next(); },
                    swipeRight: function() { carousel.prev(); },
                    swipeMoving: function() {}
                });
            }
        };
        $('#related-products-list').jcarousel({
            scroll: 1,
            initCallback: mycarousel_initCallback,
            buttonNextHTML: null,
            buttonPrevHTML: null
        });
        //line up carousel items
        $(window).load(function(){
            var height = 0;
            $('li.item', '#related-products-list').each(function(i,v){
                $(this).css('height', 'auto');
                if ( $(this).height() > height ) {
                    height = $(this).height();
                }
            });
            $('li.item', '#related-products-list').height(height);
        });
        $('div.main').after($('<div class="slider-container" />'));
        function carouselResize ()
        {
            var $h = $('.main div.slider-container').outerHeight();
            var $wrap = $('.main-container > .slider-container').css({
                width: '100%',
                height: $h,
                marginTop: '-'+$h+'px',
                position: 'absolute'
            });
        }
        carouselResize();
        $(window).resize(carouselResize);
    });
$$('.related-checkbox').each(function(elem){
    Event.observe(elem, 'click', addRelatedToProduct)
});
var inArray = function (arr, val) {
    var i = arr.length
    while (i--) {
        if (arr[i] === val) return true
    }
    return false
}
var relatedProductsCheckFlag = false;
function selectAllRelated(txt){
    if (relatedProductsCheckFlag == false) {
        $$('.related-checkbox').each(function(elem){
            elem.checked = true;
        });
        relatedProductsCheckFlag = true;
        txt.innerHTML="unselect all";
    } else {
        $$('.related-checkbox').each(function(elem){
            elem.checked = false;
        });
        relatedProductsCheckFlag = false;
        txt.innerHTML="select all";
    }
    addRelatedToProduct();
}
function addRelatedToProduct(){
    var checkboxes = $$('.related-checkbox');
    var allValues = [];
    var values = [];
    for(var i=0;i<checkboxes.length;i++){
        allValues.push(checkboxes[i].value);
        if(checkboxes[i].checked) values.push(checkboxes[i].value);
    }
    if($('related-products-field')){
        var current = $('related-products-field').value.split(',');
        for (var i = 0; i < current.length; i++) {
            if ( !inArray(values, current[i]) && !inArray(allValues, current[i]) ) values.push(current[i]);
        }
        $('related-products-field').value = values.join(',');
    }
}
//]]>
</script>
<!-- RELATED -->