<li>
    {%- if item.hasUrl() and not loop.last -%}
        <a href="{{ item.url }}">
    {%- else -%}
        <strong>
    {%- endif -%}

    {{- item.title|trans -}}

    {%- if item.hasUrl() and not loop.last -%}
        </a>
    {%- else -%}
        </strong>
    {%- endif -%}

    {% if not loop.last %}<span></span>{% endif %}
</li>