<div class="block block-slideshow">
    <div class="block-content">
        <div class="block-slider">
            <ul class="slides">
                <li><strong>Ajax shop by price slider</strong>
                <p>You can now adjust price range with a fancy slider without refreshing a page!</p>
                <a href="http://shopper.queldorei.com/index.php/women.html"><img src="http://shopper.queldorei.com/media/wysiwyg/bs02.jpg" width="230" height="235" alt="" class="retina"/></a><button class="button button_white" onclick="window.location='http://shopper.queldorei.com/index.php/women.html/'"><span><span>check it out</span></span></button></li>
                <li><a href="http://queldorei.com"><img src="http://shopper.queldorei.com/media/wysiwyg/banner_02.jpg" alt="" width="230" height="418" class="retina"/></a><button class="button button_white" onclick="window.location='http://queldorei.com'"><span><span>buy now</span></span></button></li>
                <li><strong>Independent color settings for categories</strong>
                <p>Make every category of your webstore look special by setting different color schemes.</p>
                <a href="http://shopper.queldorei.com/index.php/men.html"><img src="http://shopper.queldorei.com/media/wysiwyg/banner_03.jpg" width="230" height="235" alt="" class="retina"/></a><button class="button button_white" onclick="window.location='http://shopper.queldorei.com/index.php/men.html/'"><span><span>show me</span></span></button></li>
            </ul>
        </div>
    </div>
</div>