<!-- bof: footer -->
<div class="footer-container">
    <div class="footer-banners">
        <div class="row clearfix">
            <div class="grid_6">
                <a title="free shipping on orders over $100" href="/">
                    <img src="{{ asset('themes/shopper/images/footer_banner_1.png') }}" width="570" height="56" class="retina" alt=""/>
                </a>
            </div>
            <div class="grid_6">
                <a title="call us! toll free +848 6280 4448" href="/">
                    <img src="{{ asset('themes/shopper/images/footer_banner_2.png') }}" width="570" height="56" class="retina" alt=""/>
                </a>
            </div>
        </div>
    </div>

    <div class="footer-info">
        <div class="row clearfix facebook">
            <div class="grid_3">
                <h4>Facebook</h4>
                <div class="block-content">
                    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FUnInshopping&amp;width=300&amp;height=258&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;show_border=true&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:258px;" allowTransparency="true"></iframe>
                </div>
            </div>

            <div class="grid_3">
                <h4>From Twitter</h4>
                <div class="block-content">
                    <div class="twitterWidget" data-user="queldoreithemes">
                        <div class="twitterContent">
                            <ul class="twitterList">
                                <li>Follow us on twitter</li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="grid_3 information">
                <h4>Information</h4>
                <div class="block-content">
                    <ul>
                        <li>Veritatis et quasi architecto</li>
                        <li>Beatae vitae dicta sunt explicabo</li>
                        <li>Nemo enim ipsam voluptatem quia</li>
                        <li>Voluptas sit aspernatur</li>
                        <li>Aut odit aut , sed quia consequunt</li>
                        <li>Umagni dolores eos qui ratione</li>
                        <li>Voluptatem sequi nesciunt.</li>
                    </ul>
                </div>
            </div>

            <div class="grid_3">
                <h4>Contacts</h4>
                <div class="block-content">
                    <p><strong>Nilead</strong></p>
                    <p>365/1 Do Xuan Hop Str.</p>
                    <p>District 9, Ho Chi Minh City</p>
                    <p>Viet Nam</p>
                    <hr/>
                    <p>+848 6280 4448</p>
                    <hr/>
                    <p><a href="mailto:support@rubikin.com">support@rubikin.com</a></p>
                    <ul class="social">
                        <li><a class="twitter" href="http://twitter.com/rubikint" target="social"><span>Twitter</span></a></li>
                        <li><a class="facebook" href="https://www.facebook.com/UnInshopping" target="social"><span>Facebook</span></a></li>
                        <li><a class="email" href="mailto:mail@lipsum.com"><span>Email</span></a></li>
                        <li><a class="google" href="http://plus.google.com/u/0/111109476451145065018" target="social"><span>Google</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer class="row clearfix">
        <div class="grid_6">
            <address>&copy; 2013 <a href="/">Rubik Integration</a>. All rights reserved.</address>
        </div>

        <div class="grid_6">
            <ul class="links">
                <li><a href="/" title="About Us">About Us</a></li>
                <li class="separator"></li>
                <li><a href="/" title="Delivery &amp; Returns">Delivery &amp; Returns</a></li>
                <li class="separator"></li>
                <li><a href="/" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
                <li class="separator"></li>
                <li><a href="/" title="Contact Us">Contact Us</a></li>
            </ul>
        </div>
    </footer>
</div>
<!-- eof: footer -->