<div class="cart-empty">
    <center>
        <p>
            <img src="{{ asset('themes/shopper/images/shop_icon.png') }}" alt="">
        </p>
        <br>
        <h1>WOOPS!</h1>
        <h2>There are no products in your cart.</h2>
        <p>&nbsp;</p>
        <p>
            <button class="button" onclick="window.history.back()">
                <span>
                    <span>back</span>
                </span>
            </button>

            <button class="button" onclick="window.location='{{ path('nilead.frontend.index') }}'">
                <span>
                    <span>back to main</span>
                </span>
            </button>
        </p>
    </center>
</div>